# Exclude VSCode settings
.vscode/

# Exclude MacOS specific metadata
.DS_Store

# config是生成的配置 不需要同步
src/config/

# Exclude build directories and temporary files

*.o
*.out
*.exe
*.log

src/Classroom_info.txt
src/name_and_password.txt